<div class="page-header">
  <h2>
    Meal Times
    <a href="/mealtimes/new" class="btn btn-lg btn-success btn-sm">Add a New Meal Time</a>
  </h2>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Meal Time</th>
      </tr>

      <% @mealtimes.each do |mealtime| %>
      <tr>
        <td><%= mealtime.time %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
